//COLORS
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);
//Font
$epilogue: "Epilogue", sans-serif;

h1,
p {
  margin: 0;
}

html {
  height: 100vh;
  font-family: $epilogue;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $almost-white;
  padding: 2rem 2.5rem;
  margin-top: 2rem;

  #header {
    display: flex;
    color: $medium-gray;
    margin-bottom: 6rem;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 4.5rem;

      img {
        margin-top: 0.3rem;
      }
    }
    .links {
      display: flex;
      gap: 3rem;
      align-items: center;
      justify-content: center;
      margin-right: 46%;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-decoration: none;
        color: $medium-gray;
        &:hover {
          color: $almost-black;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 2rem;
      a {
        text-decoration: none;
        color: $medium-gray;
      }
      #registerBtn {
        border: 1px solid $almost-black;
        border-radius: 10px;
        padding: 0.7rem 1.3rem;
      }
    }
  }
}

#main {
  width: 80%;
  margin: 0 auto;
  .parent-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    .grid-1 {
      margin-top: 4rem;
      .main-info {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        h1 {
          font-weight: 700;
          font-size: 5rem;
          color: $almost-black;
        }
        .main-text {
          line-height: 1.5rem;
          color: $medium-gray;
          font-size: 1.1rem;
          word-spacing: 2px;
        }
        .main-btn {
          width: 14%;
          padding: 1rem 1.5rem;
          background-color: $almost-black;
          border-radius: 18px;
          margin-bottom: 7rem;
          cursor: pointer;
          a {
            color: $almost-white;
            text-decoration: none;
            font-weight: 700;
          }
          &:hover {
            border: 1px solid $almost-black;
            background-color: $almost-white;
            a {
              color: $almost-black;
            }
          }
        }
      }
      .main-brands {
        display: flex;
        align-items: center;
        gap: 2.5rem;
      }
    }
    .grid-2 {
      img {
        width: 100%;
      }
    }
  }
}

.features-menu {
  display: none;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  // display: none;
  position: absolute;
  top: 12%;
  left: 17%;
  padding: 0.7rem 2.5rem 0.5rem 1.5rem;
  border-radius: 10px;
  a {
    display: grid;
    grid-template-columns: 28% 80%;
    margin-bottom: 0.7rem;
    color: $almost-black;
    text-decoration: none;
    font-size: 14px;
    img {
      margin-right: 0.3rem;
      padding-bottom: 0.3rem;
    }
  }
}
.company-menu {
  display: none;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  // display: none;
  position: absolute;
  top: 12%;
  left: 28%;
  padding: 0.7rem 2.5rem 0.5rem 1.5rem;
  border-radius: 10px;
  a {
    margin-bottom: 0.7rem;
    color: $almost-black;
    text-decoration: none;
    font-size: 14px;
  }
}

#toggle {
  cursor: pointer;
  display: none;
}

//media queries
@media only screen and (max-width: 375px) {
  .container {
    padding: .5rem 1rem;
    margin-top: 0;
    #header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;
      .logo {
        margin-right: 0;
      }
      .links {
        display: none;
      }
      .buttons {
        display: none;
      }
    }
  }

  #main {
    width: 100%;
    .parent-grid {
      display: flex;
      flex-direction: column-reverse;
      .grid-1 {
        margin-top: 4rem;
        .main-info {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          h1 {
            text-align: center;
            font-weight: 700;
            font-size: 2rem;
            color: $almost-black;
            br {
              display: none;
            }
          }
          .main-text {
            line-height: 1.5rem;
            color: $medium-gray;
            font-size: 1.1rem;
            word-spacing: 2px;
            text-align: center;
            br {
              display: none;
            }
          }
          .main-btn {
            display: block;
            margin: 0 auto;
            width: 27.5%;
            padding: 1rem 1.5rem;
            background-color: $almost-black;
            border-radius: 18px;
            margin-bottom: 3rem;
            cursor: pointer;
            a {
              color: $almost-white;
              text-decoration: none;
              font-weight: 700;
            }
            &:hover {
              border: 1px solid $almost-black;
              background-color: $almost-white;
              a {
                color: $almost-black;
              }
            }
          }
        }
        .main-brands {
          display: flex;
          align-items: center;
          gap: 2.5rem;
          img {
            width: 50%;
          }
        }
      }
      .grid-2 {
        img {
          width: 100%;
        }
      }
    }
  }
  #toggle {
    display: block;
  }
}
